<nav class="nav-bar">
  <div class="logo">Buy&SellNow</div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#" class="btn">Create Post</a></li>
  </ul>
</nav>
