<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Listing</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/newListing.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <h1>New Listing</h1>
    <main>
      <form action="/newlisting" method="POST">
            <label for="image">Image URL:</label>
            <input type="text" name="image" placeholder="Please enter the Image URL">
            <label for="brand">Brand:</label>
            <input type="text" name="brand" placeholder="Please enter the Brand"/>
            <label for="make">Make:</label>
            <input type="text" name="make" placeholder="Please enter the Make"/>
            <label for="year">Year:</label>
            <input type="text" name="year" placeholder="Please enter the Year"/>
            <label for="color">Color:</label>
            <input type="text" name="color" placeholder="Please enter the Colour"/>
            <label for="transmission">Transmission:</label>
            <input type="text" name="transmission" placeholder="Please enter the Transmission"/>
            <label for="price">Price:</label>
            <input type="text" name="price" placeholder="Please enter the Price"/>
            <label for="description">Description:</label>
            <input type="textarea" name="description" placeholder="Please enter the description"/>
            <button type="submit">Submit Listing</button>
      </form>
    </main>
  </body>
</html>
