main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  margin: 20px;
}

h2 {
  text-align: center;
  margin: auto;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

/* Listing specific */

.listings {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px #888888;
  border-radius: 5px;
  background-color: rgb(233, 231, 231);
  margin: 20px;
  padding: 10px;
  width: 30%;
  transition: 1s;
}

.listingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing:hover{
  transform: scale(1.05);
  background-color: grey;
}

.upperRightSide {
  margin-right: 10px;
}

.middleOfListing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 5px 5px grey;
  border: 3px solid black;
  transition: 1s;
  position: relative;
}

.viewListing {
  padding: 10px;
  background-color: aqua;
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  height: 40px;
}

.viewListing:hover {
  background-color: red;
}

.fa-star{
  transition: 0.5s;
}

.fa-star:hover{
  transform: scale(1.5);
}

.sold-stamp {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  z-index: 1;
  height: 30%;
  opacity: 1;
  width: 45%
}
