body {
  background-color: #f5f5f5;
}
header {
  margin-left: 20px;
}
form {
  margin: 20px;
}


.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Listing specific */


.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listing {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
  width: 350px;
  text-align: left;
  transition: box-shadow 0.8s ease, transform 0.8s ease;
  position: relative;
}
.listing:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.listing h2, .listing p {
  margin-left: 0;
}
.listingHeader {
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  text-align: center;
  justify-content: space-between;
}


.middleOfListing {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.upperLeftSide, .middleOfListing, .lowerLeftSide {
  padding: 10px;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}
img {
  padding: 10px 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.viewListing {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 10px 0;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}
.viewListing:hover {
  background-color: #0056b3;
}

.viewListing:hover {
  background-color: #0056b3;
}
.lowerLeftSide p {
  color: #3a3838;
  font-size: 14px;
}

.fa-star{
  transform: scale(2);
  transition: 0.5s;
}

.fa-star:hover{
  transform: scale(2.5);
  color: #ffd700;
}

.favourite{
  display: none;
}

.sold-stamp {
  position: absolute;
  top: 37%;
  right: 10%;
  transform: translate(-50%, -50%) rotate(-15deg);
  z-index: 1;
  height: 75px;
  opacity: 1;
  width: 150px;
}

/*
FORM
*/

.filter-input {

  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-btn {
  flex-grow: 1;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}

.filter-btn:hover {
  background-color: #0056b3;
}

/*
FILTER BTN
*/

.filter-toggle-btn {
  padding: 10px 25px;
  margin-left: 20px;
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  margin-bottom: 25px;
}

.filter-toggle-btn:hover {
  background-color: #0056b3;
  outline: none;
}
