main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  margin: 20px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.listings {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 5px;
  margin: 50px;
  padding: 10px;
  width: 50%;
}

.rowOfListings{
  display: flex;
}

.upperRightSide{
  margin-right: 10px;
}

.upperLeftSide{
  display: flex;
}

.imageContainer {
  width: 50%;
  margin-right: 10px;
}
