/* General Styles */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

input {
  border-radius: 5px;
  background-color: azure;
  margin-bottom: 15px;
  padding: 5px;
}

button {
  border-radius: 5px;
  background-color: rgb(121, 196, 253);
  padding: 5px;
}

/*For the drop down error message when field is blank*/
.error {
  color: red;
  max-height: 50px;
  opacity: 1;
  border: 3px solid red;
  padding: 5px;
  margin: 10px 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/*Error message will appear for 2 seconds and then hide again*/
.hide-error {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
}

/* End of General styles */
